.jumbo{
    height: 35vh; 
}

.jumbo-h1 h1{
    position: relative;
    font-size: 2em;
    margin-top: 150px;
    width: 100%;
    font-weight: 300;
}

/* #jumbo-title{
    opacity:0
} */

@media only screen and (max-width:800px){
    .jumbo {
        height: 55vh;
    }
    .jumbo-h1 h1{
        position: absolute;
        top: 50px;
        margin-top:0;
        font-size: 1.5em;
        left:0%;
        width: 100%;
        
    }

}