.jumbo{
    height: 80vh;
    
}

.jumbo-h1 h1{
    position: absolute;
    top: 5%;
    font-size: 5vw;
    left: 5%;
    
}

.circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #2AFC98; 
    position: absolute;
    left: 3%;
    top: -.4%;
}

.arrow{
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 8%;
    left: 2.2%;
}