.card4{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr
    
}

.card4-right{
    align-items: center;
    width: 30vw;
    position: relative;
    text-align: left;
    left: 5vw;
    top: 5vw;

}
.card4-left{
    width: 40vw;
    height: 40vw;
    background-image: url('../../../images/wwd/Design.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 5vw;
  
}

@media only screen and (max-width: 800px){

    .card4{
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
       
        align-content: center;
    }
    
    .card4-right{
        grid-column: 1/4;
        grid-row-start: 2;
        align-items: center;
        width: 80%;
        position: relative;
        text-align: left;
        left: 5%;
       
        top:0px;
    
       
    }
 
    .card4-left{
        grid-column: 1/4;
        grid-row-start: 1;
        width: 100%;
        height: 300px;
        position: relative;
        margin: auto;
        left: 0px;
        margin:0px;
       
      
    }
}