.recentbanner{
    width: 100%;
    height: 40vh;
  
}

.recentbanner-h1{
    font-size: 10vw;
    font-weight: bold;
    left: 5%;
    top: 30%;
    position: relative;
    color: black;
    display: inline-flex;
}

.recentbannercircle{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    left: 100%;
    background: #49c5b6; 
    top: 60%;
    position: absolute;

}

@media only screen and (max-width:800px) {
    .recentbanner{
        width: 100%;
        height: 20vh;
      
    }
}