.opinionscardsection{
    
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
        align-content: center;
        height: 1000px
     

 
}

#blog{
        margin-bottom: 50px;
}
