.opinionsbanner{
    width: 100%;
    height: 40vh;
  
}

.opinionsbanner-h1{
    font-size: 10vw;
    font-weight: bold;
    left: 5%;
    top: 30%;
    position: relative;
    color: black;
    display: inline-flex;
}

.opinionsbannercircle{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    left: 100%;
    background: #49c5b6; 
    top: 60%;
    position: absolute;

}