.whatwedo{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    height: 30%;
    position: relative;
}

.whatwedo h1{
    padding: 0px;
    margin: 0px 0px 0px 2%;
}
.whatwedo h3{
    margin-left: 2%;
    margin-right: 2%;
}
