.whatwedo{
    width: 100%;
    height: 30%;
    position: relative;
    margin-bottom: 20%;
    margin: 0;

}


.whatwedop{
    
    font-weight: 300;
    
}

.wwd-span{
    font-weight: 700;
}

@media only screen and (max-width:800px){
    .whatwedo{
        width: 95%;
        display: grid;
        grid-template-rows: 1fr 2fr 2fr;
        height: 20vh;
        left: 5%;
        position: relative;
        padding-bottom: 60%
    }
    .whatwedo h1{
        padding: 0px;
        margin: 0px;
        font-size: 1em;
    }
    .whatwedop{
        margin-left: 0px!important;
        margin-right: 5%;
        font-size: 1em;
    }
    
}