
.wrapper{
    position: relative;
    height: 50vh;
    

}

.simple-trans-main > div {
    cursor: url('../../../images/circle.png'), auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;

    will-change: transform, opacity;

  }
  .quoteDiv{
    padding-right: 10%;
}


  @media only screen and (max-width:800px) {
    .wrapper{
        width: 100%;
        height: 45vh;
       
      
    }
    .quoteDiv{
        font-size:.9em;
        padding-right: 0%;
        padding:20px;
        
    
    }
    .quoteH1{
        font-size:1em;
        padding:20px 0px 0px 20px;
        
    }
    
    .quoteH3{
        font-size:.5em;
        font-weight: 100;
        padding-left:20px;
    }

  }