
.wrapper{
    position: relative;
    height: 50vh;
    max-height: 50vh;

}

.simple-trans-main > div {
    cursor: url('../../../images/circle.png'), auto;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;

    will-change: transform, opacity;

  }
  .quoteDiv{
   
    padding-right: 10%;
    

}


  @media only screen and (max-width:800px) {
    .wrapper{
        width: 100%;
        height: 30vh;
      
    }
    .quoteDiv{
        font-size:.7em;
        padding-right: 10%;
        
    
    }
    .quoteH1{
        font-size:1em;
    }
    
    .quoteH3{
        font-size:.5em;
        font-weight: 100;
    }

  }