.card1{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.card1-left{
    align-items: center;
    padding: 5% 0% 8% 8%;
    width: 50%;
    position: relative;
    text-align: right;
    height: 20vw;
   
}
.card1-right{
    width: 100%;
    background-image: url('../../../images/social2.png');
    background-size: cover;
}
