.GetItTouch{
    position: relative;
    
    height: 50px;
    border: 2px solid black;
align-items: center;
text-align: center;


}

.button-text{
text-align: center;
align-items: center;
font-weight: 700;
}