.footer{
    width: 100%;
    height: 500px;
    position: relative;
    
    /* display: inline-flex; */
  
    
}



.footer-left{
    position: absolute;
    left: 5%;
    color: black;
    bottom: 0px;
    font-size: 1em;
   
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}
.footer-right{
    position: absolute;
    right: 5%;
    color: black;
    bottom: 0px;
    font-size: 1em;
   text-align: right;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

.footer-button{
  margin-top: 5%;
}

.footer-middle{
    
position: relative;
width: 181px;
height: 45px;
top: 25%;
margin:auto;




}

.footer-banner-h1{
    font-size: 6em;
    font-weight: 700;
    left: 0;
    top: 30%;
    position: relative;
    color: black;
    display: inline-flex;

}

.footer-circle{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    left: 100%;
    background: #49c5b6; 
    top: 60%;
    position: absolute;
}





@media only screen and (max-width: 800px){

  
  
  
    
}