.blogheader{
    width: 100%;
    height: 60px;
    border-bottom: .5px solid black;
    position: relative;
    display: inline-flex;
    padding: 0%;
    background: transparent
}

.bloghead-right{
    display: inline-flex;
    position: absolute;
    right: 0%;
}
.bloghead-left{
    display: inline-flex;
    position: absolute;
    left: 0%;
}

.bloghead-right h3{
    margin: 10px;
}
.bloghead-left h1{
    margin: 10px 10px 10px 0px;
}