.card2{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr
    
}

.card2-right{
    align-items: center;
    padding: 5% 8% 8% 0%;
    width: 50%;
    position: relative;
    text-align: left;
    height: 20vw;
    right: -25%;
   
}
.card2-left{
    width: 100%;
    background-image: url('../../../images/social.jpeg');
    background-size: cover;
    background-position: center;
}
