.app{
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
}

*{
  font-family: 'Work Sans', sans-serif;

  line-height: 1.5em
}
@media only screen and (max-width: 800){
  *{
   

    line-height: 1.3em
  }
}