.app{
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
}

*{
  font-family: 'Archivo', sans-serif;
  line-height: 1.5em
}
@media only screen and (max-width: 800){
  *{
    font-family: 'Archivo', sans-serif;
    line-height: 1.3em
  }
}